html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

section.main:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

section.main, footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section.main article, footer article, footer .copyright {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Str replace
 *
 * @param {string}  $string    String that you want to replace
 * @param {string}  $substr    String that is to be replaced by `$newsubstr`
 * @param {string}  $newsubstr String that replaces `$substr`
 * @param {number*} $all       Flag for replaceing all (1+) or not (0)
 * @return {string}
 */
/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
* {
  box-sizing: border-box;
  transition: filter 2s;
}

html {
  background-color: #EDEDED;
}

html, body {
  position: relative;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  color: #555;
  line-height: 1.2;
  font-weight: normal;
}

body {
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
}
body.home {
  background: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Gafata", sans-serif;
  font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  background: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  background: url(images/overlay-pattern.png) black;
  color: white !important;
}

.h3 {
  font-size: 1.3em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.hide-on-mobile {
  display: none;
}

.iii-readmore {
  max-height: 5em;
}

.page__body .text a, .page__body .wpb_wrapper p a, .page__body .press-content a {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
}
.page__body .text a:hover, .page__body .wpb_wrapper p a:hover, .page__body .press-content a:hover {
  background-color: black;
  color: white;
}
.page__body .text a:hover time, .page__body .wpb_wrapper p a:hover time, .page__body .press-content a:hover time {
  color: #555;
}
.page__body .text a time, .page__body .wpb_wrapper p a time, .page__body .press-content a time {
  transition: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  font-family: "Maven Pro", sans-serif;
}

.margin-top {
  margin-top: 2em;
}

.align-left {
  text-align: left;
}

.wrap {
  max-width: 1600px;
  margin: auto;
  padding: 2em;
}

.preview_indicator {
  position: absolute;
  top: -20px;
  color: white;
  background-color: red;
  padding: 0 1em;
}

ul.view--grid li {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 15px;
  border: none !important;
}
ul.view--grid li .thumbnail {
  display: block;
  position: relative;
  text-align: center;
}
ul.view--grid li .thumbnail img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
ul.view--grid li h2, ul.view--grid li h3 {
  margin: 1em;
}
ul.view--grid li .info--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s;
}
ul.view--grid li .info--overlay > div {
  margin: auto;
  width: 80%;
}
ul.view--grid li .info--overlay div {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
ul.view--grid li:hover .info--overlay {
  opacity: 1;
}
ul.view--grid.works li {
  margin-top: 15px;
  margin-bottom: 15px;
}
ul.view--list {
  float: left;
  width: 100%;
}
ul.view--list li {
  margin: 1em 0;
}
ul.view--list li h2 {
  font-size: 1.5em;
}

.sort {
  text-align: center;
  margin-top: 2em;
}
.sort button, .sort a {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
  padding: 1px 7px 2px;
  display: inline-block;
}
.sort button.active, .sort a.active {
  opacity: 1;
  text-decoration: underline;
}

.worksby {
  max-width: 1300px;
  margin: auto;
}
.worksby h2 {
  text-align: center;
}
.worksby ul.view--grid {
  text-align: center;
}
.worksby ul.view--grid li {
  width: 32% !important;
  float: none !important;
}

.related_works {
  max-width: 1300px;
  margin: auto;
}
.related_works h2 {
  text-align: center;
}
.related_works ul.view--grid {
  text-align: center;
}
.related_works ul.view--grid li {
  float: none !important;
}

.related_events {
  text-align: center;
  margin-bottom: 2em;
}
.related_events .event-list {
  width: 100%;
}

section.header_mobile {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 1px;
  z-index: 999999999;
}
section.header_mobile .mobile-menu {
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 6px;
  z-index: 99999;
}
section.header_mobile .mobile-menu .fa {
  color: white;
  background-color: #555;
}
section.header_mobile nav.mobile-nav {
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.75);
  display: none;
  top: 0;
  padding-top: 60px;
  position: relative;
  background-color: white;
  z-index: 9999;
  text-align: left;
  border-bottom: 1px solid;
  font-size: 1.5em;
}
section.header_mobile nav.mobile-nav ul.nav {
  display: block;
  position: relative;
  margin: auto;
  left: 50px;
}
section.header_mobile nav.mobile-nav ul.nav li {
  display: block;
  padding: 0.3em;
}
section.header_mobile nav.mobile-nav ul.nav li .sub-menu {
  position: relative;
  display: block;
}
section.header_mobile nav.mobile-nav ul.nav li .sub-menu li {
  padding: 0em;
  left: 1em;
}

section.header {
  position: absolute;
  background-color: white;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid;
}
section.header a {
  background: none;
}
section.header nav {
  position: absolute;
  width: 100%;
  top: 1.4em;
  text-align: center;
  z-index: 99999;
}
section.header nav .mobile-menu {
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: -16px;
}
section.header nav .mobile-menu .fa {
  color: white;
  background-color: #555;
}
section.header nav.mobile-nav {
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.75);
  display: none;
  top: 0;
  padding-top: 60px;
  position: relative;
  background-color: white;
  z-index: 9999;
  text-align: left;
  border-bottom: 1px solid;
  font-size: 1.5em;
}
section.header nav.mobile-nav ul.nav {
  display: block;
  position: relative;
  margin: auto;
  left: 50px;
}
section.header nav.mobile-nav ul.nav li {
  display: block;
  padding: 0.3em;
}
section.header nav.mobile-nav ul.nav li .sub-menu {
  position: relative;
  display: block;
}
section.header nav.mobile-nav ul.nav li .sub-menu li {
  padding: 0em;
  left: 1em;
}
section.header nav ul {
  position: absolute;
  display: none;
}
section.header nav ul.nav-left {
  right: calc(50% + 40px);
  top: 0;
}
section.header nav ul.nav-right {
  left: calc(50% + 40px);
  top: 0;
}
section.header nav ul li {
  display: inline-block;
  position: relative;
}
section.header nav ul li a {
  padding: 0.2em 0.2em 0;
  background: none;
  display: block;
}
section.header nav ul li.menu-item-has-children > a:hover {
  text-decoration: none;
}
section.header nav ul li .sub-menu {
  text-align: left;
  min-width: 120px;
  display: none;
  padding: 0.4em 1em;
  left: -1em;
  background-color: rgba(255, 255, 255, 0.8);
}
section.header nav ul li .sub-menu li {
  display: block;
}
section.header nav ul li .sub-menu li a {
  padding: 0.2em;
  display: inline-block;
  line-height: 1em;
}
section.header nav ul li:hover .sub-menu {
  display: block;
}
section.header nav .logo {
  display: inline-block;
  margin-top: -8px;
  cursor: pointer;
}

section.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  top: 0;
  height: 100%;
  background-color: black;
}
section.background .rslides:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: list-item;
  z-index: 9;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-8 */
}
section.background .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.viewport .overlay--left {
  cursor: pointer;
  position: absolute;
  top: 60px;
  left: -1px;
  width: 150px;
  min-height: 100%;
  z-index: 999999;
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
  border-top: 1px solid;
}
.viewport .overlay--right {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: -1px;
  width: 150px;
  min-height: 100%;
  z-index: 999999;
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
  border-top: 1px solid;
}
.viewport .overlay.disable {
  display: none;
}
.viewport .col, .viewport .wpb_column {
  border-left: 1px solid;
  padding: 25px;
}
.viewport .col:nth-child(1), .viewport .wpb_column:nth-child(1) {
  border: none;
}
.viewport article {
  clear: both;
  padding-top: 3em;
}
.viewport article h3 {
  font-size: 2em;
  margin-bottom: 0.7em;
}
.viewport article p {
  margin: 1em 0;
}
.viewport article img {
  width: 100%;
}
.viewport article img.featured_image {
  width: 100%;
  max-width: 600px;
}
.viewport article img.align-left {
  text-align: left;
  margin: 0 1em 1em 0;
  float: left;
}
.viewport .vc_column_container h3 {
  font-size: 2em;
  margin-bottom: 0.7em;
  clear: both;
}
.viewport .vc_column_container p {
  margin: 1em 0;
}
.viewport .vc_column_container .vc_single_image-wrapper img {
  width: 100%;
  max-width: 600px;
}
.viewport .vc_column_container img.featured_image {
  width: 100%;
  max-width: 600px;
}
.viewport .vc_column_container img.alignleft {
  text-align: left;
  margin: 0 1em 1em 0;
  float: left;
}

body.home section.page__header {
  background-color: white;
  border-bottom: 1px solid;
}
body.home .viewport .overlay--left {
  background: none;
  border-top: none;
  top: 0;
}
body.home .viewport .overlay--left:before {
  top: 60px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 99%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(40%, rgba(0, 0, 0, 0.4)), color-stop(99%, transparent), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 99%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 99%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 99%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 99%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-8 */
}
body.home .viewport .overlay--right {
  background: none;
  border-top: none;
  top: 0;
}
body.home .viewport .overlay--right:before {
  top: 60px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(1%, transparent), color-stop(60%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to right, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 );
  /* IE6-8 */
}

section.home {
  width: calc(100% - 75px);
  position: relative;
  padding-bottom: 45%;
  top: 60px;
}
section.home.current {
  min-height: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
section.home .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  color: white;
  text-align: center;
}

section.dummy {
  padding-bottom: 45%;
  padding-top: 60px;
}

section.page--single {
  width: 100%;
  position: relative;
  margin: auto;
  border-left: 1px solid;
  border-right: 1px solid;
}
section.page--single h1.title {
  font-size: 2em;
  margin-bottom: 1em;
}
section.page--single .page__body {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
}
section.page--single .page__body h3 {
  font-size: 1.5em;
}
section.page--single .page__body img {
  width: 100%;
  height: auto;
}
section.page--single .page__body p {
  line-height: 1.3em;
}
section.page--single.artist .wrapper, section.page--single.work .wrapper, section.page--single.residency .wrapper {
  max-width: 900px;
  margin: auto;
  text-align: center;
}
section.page--single.artist .wrapper .image, section.page--single.work .wrapper .image, section.page--single.residency .wrapper .image {
  margin: auto;
  margin-bottom: 1em;
}
section.page--single.artist .wrapper .image img, section.page--single.work .wrapper .image img, section.page--single.residency .wrapper .image img {
  width: 100%;
  height: auto;
}
section.page--single.artist .wrapper .text, section.page--single.work .wrapper .text, section.page--single.residency .wrapper .text {
  text-align: left;
}
section.page--single.artist .wrapper .text img, section.page--single.work .wrapper .text img, section.page--single.residency .wrapper .text img {
  max-width: 100%;
  height: auto;
}

section.page--eventlist {
  width: 100%;
}

.event-content {
  float: left;
  padding: 0 1em;
}
.event-content h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.event-content img {
  max-width: 100%;
  height: auto;
}

.press-content {
  float: left;
  padding: 0 1em;
}
.press-content h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.press-content img {
  max-width: 100%;
  height: auto;
}

.event-list li, .press-list li {
  padding: 0.5em 0;
  font-size: 0.8em;
}
.event-list li a, .press-list li a {
  color: black;
}
.event-list li time, .press-list li time {
  display: block;
  font-size: 0.8em;
}
.event-list.right, .press-list.right {
  margin-top: 2em;
}

section.page {
  position: absolute;
  width: calc(100% - 75px);
  opacity: 0;
  min-height: 100%;
  top: 0;
  z-index: 9;
  left: 50%;
  border-left: 1px solid;
  transition: background-color 0.2s, margin-left 0.5s, border-color 1s, opacity 0.5s;
}
section.page.ready {
  opacity: 1;
}
section.page__header {
  height: 60px;
  position: relative;
}
section.page__header:before {
  transition: opacity 0.5s;
  opacity: 1;
  content: "";
  position: absolute;
  background: url(images/arrow.svg) no-repeat left center;
  width: 18px;
  height: 100%;
  margin-left: 0.5em;
}
section.page__header .title {
  padding: 1.4em 2em 0;
}
section.page__body img {
  max-width: 100%;
  height: auto;
}
section.page__body p {
  line-height: 1.3em;
}
section.page.current {
  background-color: white;
  border: none;
}
section.page.current .page__header:before {
  opacity: 0;
}
section.page .flexslider {
  border: none;
}
section.page .wpb_gallery_slides {
  overflow: hidden;
}
section.page .wpb_gallery_slides li img {
  width: 100%;
  height: auto;
}
section.page .flex-control-paging li a {
  overflow: hidden;
}

section.next {
  cursor: pointer;
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
}
section.next.hover {
  background-color: white;
  margin-left: -50px;
}

section.prev {
  border-right: 1px solid;
  border-left: none;
  cursor: pointer;
  background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
  z-index: 19;
}
section.prev.hover {
  background-color: white;
  margin-left: 50px;
}
section.prev .page__header:before {
  margin-right: 0.5em;
  transform: scale(-1, 1);
  right: 0;
}

section.main {
  background-color: white;
  border-top: 1px solid;
}
section.main article {
  float: left;
  direction: ltr;
  padding-left: 35px;
  padding-right: 35px;
  width: 33.33333%;
}
@media screen and (max-width: 768px) {
  section.main article {
    padding-left: 5px;
    padding-right: 5px;
  }
}
section.main article h2 {
  font-size: 1.7em;
}
section.main article h3, section.main article h4 {
  margin-bottom: 0.5em;
}
section.main article img {
  margin-bottom: 0.5em;
}
section.main article p {
  font-size: 0.8em;
}
section.main .wpb_column:nth-child(1) .wpb_wrapper h2 {
  margin-top: 0;
}
section.main .wpb_wrapper h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  margin-top: 1em;
}
section.main .wpb_wrapper h3, section.main .wpb_wrapper h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
section.main .wpb_wrapper img {
  margin-bottom: 0.5em;
}
section.main .wpb_wrapper p {
  font-size: 0.8em;
}
section.main .item {
  float: left;
  width: 50%;
  padding-right: 1em;
}
section.main .item img {
  max-width: 100%;
}

footer {
  background-color: #EDEDED;
}
footer .wpb_column:nth-child(1) h2 {
  margin-top: 0;
}
footer h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  margin-top: 1em;
}
footer ul li {
  margin-bottom: 1em;
}
footer ul li .post-date {
  display: block;
  font-size: 0.8em;
}
footer #mc_embed_signup {
  font-size: 0.8em;
}
footer #mc_embed_signup input {
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  max-width: 200px;
}
footer #mc_embed_signup input.button {
  width: auto;
}
footer article {
  float: left;
  direction: ltr;
  padding-left: 35px;
  padding-right: 35px;
  width: 33.33333%;
}
@media screen and (max-width: 768px) {
  footer article {
    padding-left: 5px;
    padding-right: 5px;
  }
}
footer .copyright {
  float: left;
  direction: ltr;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  footer .copyright {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  .hide-on-mobile {
    display: block;
  }

  section.home {
    width: calc(100% - 75px);
  }

  .iii-readmore {
    max-height: 1500px;
  }

  section.page {
    width: calc(100% - 75px);
  }

  .event-content, .press-content {
    width: calc(100% - 400px);
  }

  .event-list, .press-list {
    width: 200px;
    float: left;
  }
  .event-list.right, .press-list.right {
    float: right;
  }
  .event-list li, .press-list li {
    padding: 0.5em 0;
    font-size: 0.8em;
  }
  .event-list li a, .press-list li a {
    color: black;
  }
  .event-list li time, .press-list li time {
    display: block;
    font-size: 0.8em;
  }
  .event-list.right, .press-list.right {
    margin-top: 0;
  }
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  section.main .wpb_wrapper h2 {
    margin-top: 0;
  }

  footer h2 {
    margin-top: 0;
  }
}
@media only screen and (min-width: 920px) {
  section.home {
    width: calc(100% - 150px);
    min-width: 680px;
  }

  section.page {
    width: calc(100% - 150px);
    min-width: 680px;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  section.home {
    width: calc(100% - 300px);
    min-width: 900px;
  }

  section.page--single {
    width: calc(100% - 300px);
    min-width: 1030px;
  }

  section.page {
    width: calc(100% - 300px);
    min-width: 900px;
  }

  .sort {
    font-size: 1.5em;
    font-family: "Gafata", sans-serif;
  }
  .sort button, .sort a {
    font-family: "Gafata", sans-serif;
    font-size: 1em;
  }
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  section.header_mobile .mobile-menu {
    display: none;
  }
  section.header_mobile nav.mobile-nav {
    display: none !important;
  }

  section.header nav .mobile-menu {
    display: none;
  }
  section.header nav.mobile-nav {
    display: none !important;
  }
  section.header nav ul {
    display: block;
  }

  section.page__header .title {
    display: none;
  }
  section.page__header:before {
    display: none;
  }
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
