section.home {
	width: calc(100% - 300px);
	min-width: 900px;

}
section.page--single {
	width: calc(100% - 300px);
	min-width: 1030px;
}

section.page {
	width: calc(100% - 300px);
	min-width: 900px;

}
.sort {
	font-size: 1.5em;
	font-family: "Gafata", sans-serif;
	button, a {
    font-family: "Gafata", sans-serif;
		font-size: 1em;
	}
}
