section.home {
	width: calc(100% - 300px);
	min-width: 900px;

}
section.page--single {
	width: calc(100% - 300px);
	min-width: 1030px;
}

section.page {
	width: calc(100% - 300px);
	min-width: 900px;

}