$bg-color: #fff;
$bg-color-grey: #EDEDED;
$base-font-size: 16px;
$font-size-s: 0.8em;
// $font-family: 'Open Sans', sans-serif;
$font-weight: normal;
// $font-family: 'Hind', sans-serif;
$font-family: 'Maven Pro', sans-serif;
// $font-family: 'Khula', sans-serif;
// $font-family: 'Mandali', sans-serif;

$header-font-family: 'Gafata', sans-serif;


// $header-font-family: 'Nova Round', cursive;
// $header-font-family: 'Karla', sans-serif;
// $header-font-family: 'Exo 2', sans-serif;
// $header-font-family: 'Ruda', sans-serif;
// $header-font-family: 'Merriweather Sans', sans-serif;
$header-font-weight: normal;

$header-height: 60px;


$font-color: #555;
* {
	box-sizing: border-box;
	transition: filter 2s;
}
html {
	background-color: $bg-color-grey;
}
html, body {
	// height: 100%;
	position: relative;
	font-size: $base-font-size;
	font-family: $font-family;
	color: $font-color;
	line-height: 1.2;
	font-weight: $font-weight;
}
body {
	background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
	&.home {
		background: none;
	}
}
h1, h2, h3, h4, h5 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	a {
		background: none;
		&:hover {
			background: url(images/overlay-pattern.png) rgba(0, 0, 0, 1);
			color: white !important;
		}
	}
}

.h3 {
	font-size: 1.3em;
}
p {
	margin-bottom: 1em;
}
a {
	color: $font-color;
	// color: black;
	text-decoration: none;
	// transition: all 0.1s;
	// background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
	&:hover {
		// background-color: black;
		// background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
		text-decoration: underline;
		// color: white;
		// time {
		// 	color: $font-color;
		// }
	}
	time {
		// transition: none;
	}
}
.hide-on-mobile {
	display: none;
}
.iii-readmore {
	max-height: 5em;
}
.page__body  {
	.text, .wpb_wrapper p, .press-content{
		a {
			// color: $font-color;
			color: black;
			text-decoration: none;
			transition: all 0.1s;
			background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
			&:hover {
				background-color: black;
				// background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
				// text-decoration: underline;
				color: white;
				time {
					color: $font-color;
				}
			}
			time {
				transition: none;
			}
		}
	}

}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
button {
	font-family: $font-family;
}
.margin-top {
	margin-top: 2em;
}
.align-left {
	text-align: left;
}
.blur {
	// filter: blur(3px);
}
.wrap {
	max-width: 1600px;
	margin: auto;
	padding: 2em;
}
.preview_indicator {
	position: absolute;
    top: -20px;
    color: white;
    background-color: red;
    padding: 0 1em;
}

ul.view {
	&--grid {
		li {
			display: inline-block;
			position: relative;
			text-align: center;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			padding: 0 15px;
			// @include gridle ( 3 );
			border: none !important;
			.thumbnail {
				display: block;
				position: relative;
				text-align: center;
				img {
					width: 100%;
					height: auto;
					vertical-align: middle;
				}
			}
			h2, h3 {
				margin: 1em;
			}
			.info {

				&--overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: white;
					opacity: 0;
					background-color: rgba(0,0,0,0.8);
					transition: opacity 0.5s;
					> div {
						margin: auto;
						width: 80%;
					}
					div {
						transform: translateY(-50%);
						top: 50%;
						position: relative;
					}

				}
			}
			&:hover {
				.info {
					&--overlay {
						opacity: 1;
					}
				}
			}
		}
		&.works {
			li {
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	}
	&--list {
		// margin: 2em 0;
		float: left;
		width: 100%;
		li {
			margin: 1em 0;
			h2 {
				font-size: 1.5em;
			}
			// clear: both;
		}
	}
}
.sort {
	text-align: center;
	margin-top: 2em;
	button {
		background: none;
		border: none;
		cursor: pointer;
		font-size: $base-font-size;
		opacity: 0.5;
		&.active {
			opacity: 1;
			text-decoration: underline;
		}
	}
}
.worksby {
	max-width: 1300px;
	margin: auto;
	h2 {
		text-align: center;
	}
	ul {
		&.view--grid {
			text-align: center;
			li {
				width: 32% !important;
				float: none !important;
			}
		}
	}
}
.related_works {
	max-width: 1300px;
	margin: auto;
	h2 {
		text-align: center;
	}
	ul {
		&.view--grid {
			text-align: center;
			li {
				// width: 49% !important;
				float: none !important;
			}
		}
	}
}
.related_events {
	text-align: center;
	margin-bottom: 2em;
	.event-list {
		width: 100%;
	}
}
section.header {
	position: absolute;
	background-color: white;
	height: $header-height;
	width: 100%;
	border-bottom: 1px solid;
	a {
		background: none;
	}
	nav {
		position: absolute;
		width: 100%;
		top: 1.4em;
		text-align: center;
		z-index: 99999;
		.mobile-menu {
			cursor: pointer;
			position: absolute;
			right: 45px;
			top: -16px;

			.fa {
				color: white;
				background-color: $font-color;
			}
			.fa-border {
				// border-color: $font-color;
			}
		}
		&.mobile-nav {
			box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);
			display: none;
			top: 0;
			// top: $header-height;
			padding-top: $header-height;
			position: relative;
			background-color: white;
			z-index: 9999;
			text-align: left;
			border-bottom: 1px solid;
			font-size: 1.5em;

			ul.nav {
				display: block;
				position: relative;
				// max-width: 300px;
				margin: auto;
				left: 50px;
				// transform: translateX(40%);
				li {
					display: block;
					padding: 0.3em;
					.sub-menu {
						position: relative;
						display: block;
						li {
							padding: 0em;
							left: 1em;
						}
					}
				}
			}
		}
		ul {
			position: absolute;
			display: none;
			&.nav-left {
				right: calc(50% + 40px);
				top: 0;
			}
			&.nav-right {
				left: calc(50% + 40px);
				top: 0;
			}
			li {
				display: inline-block;
				position: relative;
				a {
					padding: 0.2em 0.2em 0;
					background: none;
					display: block;
					// 	text-decoration: none;

					// &:hover {
					// 	background: url(images/overlay-pattern.png) rgba(0, 0, 0, 1);
					// 	text-decoration: none;
					// }
				}
				&.menu-item-has-children {
					>a {
						&:hover {
							text-decoration: none;
						}
					}
				}

				.sub-menu {
					text-align: left;
					// width: 300px;
					min-width: 120px;
					display: none;
					padding: 0.4em 1em;
					left: -1em;
					// margin-top: 0.1em;
					background-color: rgba(255,255,255,0.8);
					li {
						display: block;
						a {
							padding: 0.2em;
							display: inline-block;
							line-height: 1em;
						}
					}
				}
				&:hover .sub-menu {
					display: block;
				}

			}

			// list-style: none;
		}
		.logo {
			display: inline-block;
			margin-top: -8px;
			cursor: pointer;
			svg {

			}

		}
	}
}

section.background {
	position: absolute;
	z-index: -1;
	width: 100%;
	overflow: hidden;
	// top: 61px;
	// height: calc(100% - 61px);
	top: 0;
	height: 100%;
	background-color: black;
	.rslides:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 20%;
		bottom: 0;
		display: list-item;
		z-index: 9;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	}
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
	}
}
.viewport {
	width: 100%;
	position: relative;
	// padding-bottom: 55%;
	overflow: hidden;

	.overlay {

		&--left {
			cursor: pointer;
			position: absolute;
			top: $header-height;
			left: -1px;
			width: 150px;
			min-height: 100%;
			z-index: 999999;
			background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
			border-top: 1px solid;
			// border-right: 1px solid;
			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			// 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			// 	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			// 	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.4)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			// 	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			// 	background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			// 	background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
			// 	background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */
			// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
			// }
		}
		&--right {
			cursor: pointer;
			position: absolute;
			top: $header-height;
			right: -1px;
			width: 150px;
			min-height: 100%;
			z-index: 999999;
			background: url(images/overlay-pattern.png) rgba(255, 255, 255, 0.5);
			border-top: 1px solid;
			// border-left: 1px solid;
			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			// 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			// 	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
			// 	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
			// 	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
			// 	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
			// 	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* IE10+ */
			// 	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* W3C */
			// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-8 */
			// }
		}
	}
	.col, .wpb_column{
		border-left: 1px solid;
		padding: 25px;
		&:nth-child(1) {
			border: none;
		}
	}

	article {
		clear: both;
		padding-top: 3em;
		h3 {
			font-size: 2em;
			// margin-top: 3em;
			margin-bottom: 0.7em;
		}
		p {
			margin: 1em 0;
		}
		img {
			width: 100%;
		}
		img.featured_image {
			width: 100%;
			max-width: 600px;
		}
		img.align-left {
			text-align: left;
			margin: 0 1em 1em 0;
			float: left;
		}
	}
	.vc_column_container {
		h3 {
			font-size: 2em;
			// margin-top: 3em;
			margin-bottom: 0.7em;
			clear: both;
		}
		p {
			margin: 1em 0;
		}
		.vc_single_image-wrapper img {
			width: 100%;
			max-width: 600px;
		}
		img.featured_image {
			width: 100%;
			max-width: 600px;
		}
		img.alignleft {
			text-align: left;
			margin: 0 1em 1em 0;
			float: left;
		}
	}
}
body.home {
	section.page {
		&__header {
			background-color: white;
			border-bottom: 1px solid;
		}
	}
	.viewport .overlay {
		&--left {
			background: none;
			border-top: none;
			top: 0;
			&:before {
				top: $header-height;
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.4)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
			}
		}
		&--right {
			background: none;
			border-top: none;
			top: 0;
			&:before {
				top: $header-height;
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-8 */
			}
		}
	}
}
section.home {
	width: calc(100% - 75px);
	// max-width: 1200px;
	// min-width: 780px;
	position: relative;
	// padding-bottom: 55%;
	padding-bottom: 45%;
	// margin: auto;

	top: $header-height;
	// background-color: rgba(0,0,0,0.5);
	// min-height: auto !important;
	// overflow: hidden;

	&.current {
		min-height: auto !important;
		// background-color: rgba(0,0,0,0.5) !important;
		background-color: rgba(255,255,255,0) !important;
	}
	.intro {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: 400px;
		color: white;
		text-align: center;
	}

}
section.dummy {
	padding-bottom: 45%;
	padding-top: $header-height;
}
section.page--single {
	width: 100%;
	// max-width: 1200px;
	position: relative;
	margin: auto;
	border-left: 1px solid;
	border-right: 1px solid;
	h1.title {
		font-size: 2em;
		margin-bottom: 1em;
		// margin-left: 10px;
	}
	.page__body {
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: white;
		h3 {
			font-size: 1.5em;
		}
		img {
			width: 100%;
			height: auto;
		}
		p {
			line-height: 1.3em;
		}
	}
	&.artist, &.work, &.residency {
		.wrapper {
			max-width: 900px;
			margin: auto;
			text-align: center;
			.image {
				// max-width: 600px;
				margin: auto;
				margin-bottom: 1em;
				img {
					width: 100%;
					height: auto;
				}
			}
			.text {
				text-align: left;
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

}
section.page--eventlist {
	width: 100%;


}
.event-content {
	float: left;
	h2 {
		font-size: 2em;
		margin-bottom: 1em;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	padding: 0 1em;
}
.press-content {
	float: left;
	h2 {
		font-size: 2em;
		margin-bottom: 1em;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	padding: 0 1em;
}
.event-list, .press-list {

	li {
		padding: 0.5em 0;
		font-size: 0.8em;
		a {
			color: black;
		}
		time {
			display: block;
			font-size: 0.8em;
		}
	}
	&.right {
		margin-top: 2em;
	}
}
section.page {
	position: absolute;
	width: calc(100% - 75px);
	// visibility: hidden;
	// display: none;
	opacity: 0;
	// max-width: 1200px;
	// min-width: 780px;
	min-height: 100%;
	top: 0;
	z-index: 9;
	// background-color: rgba(255,255,255,0.5);
	// background-color: rgba(255,255,255,1);
	left: 50%;
	// transform: translateX(150%);
	border-left: 1px solid;
	transition: background-color 0.2s, margin-left 0.5s, border-color 1s, opacity 0.5s;
	&.ready {
		opacity: 1;
	}
	&__header {
		height: $header-height;
		// background-color: white;
		position: relative;
		&:before {
			transition: opacity 0.5s;
			opacity: 1;
			content: "";
			position: absolute;
			background: url(images/arrow.svg) no-repeat left center;
			width: 18px;
			height: 100%;
			margin-left: 0.5em;
		}
		.title {
			padding: 1.4em 2em 0;

		}
	}
	&__body {
		// border-top: 1px solid;
		// padding: 1em;
		img {
			max-width: 100%;
			height: auto;
		}
		p {
			line-height: 1.3em;
		}
	}
	// &:first-child{
	// 	transform: translateX(50%);
	// }
	&.current {
		background-color: rgba(255,255,255,1);
		// border-color: rgba(255,255,255,0);
		border: none;
		.page__header {
			&:before {
				opacity: 0;
			}
		}
		// min-height: 0;
	}



	.flexslider {
		border: none;
	}
	.wpb_gallery_slides {
		overflow: hidden;
		li {
			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.flex-control-paging li a {
		overflow: hidden;
	}
}


section.next {
	// transform: translateX(50%);
	// border-left: 1px solid;
	cursor: pointer;
	background: url(images/overlay-pattern.png) rgba(255,255,255,0.5);
	&.hover {
		background-color: rgba(255,255,255,1);
		margin-left: -50px;
	}
}
section.prev {
	// left: calc(-100% + 100px);
	// transform: translateX(-150%);
	border-right: 1px solid;
	border-left: none;
	cursor: pointer;
	background: url(images/overlay-pattern.png) rgba(255,255,255,0.5);
	z-index: 19;
	&.hover {
		background-color: rgba(255,255,255,1);
		margin-left: 50px;
	}
	.page__header {
		&:before {
			margin-right: 0.5em;
			transform: scale(-1,1);
			right: 0;
		}
	}
}

section.main {
	background-color: white;
	border-top: 1px solid;
	@include gridle_container();
	article {
		@include gridle ( 4 );
	// @include gridle ( 12 , 'mobile' );
		h2 {
			font-size: 1.7em;
		}
		h3, h4 {
			margin-bottom: 0.5em;
		}
		img {
			margin-bottom: 0.5em;
		}
		p {
			font-size: $font-size-s;
		}
	}
	.wpb_column {
		&:nth-child(1){
			.wpb_wrapper {
				h2 {
					margin-top: 0;
				}
			}

		}
	}
	.wpb_wrapper {
		h2 {
			font-size: 1.7em;
			margin-bottom: 1em;
			margin-top: 1em;
		}
		h3, h4 {
			margin-bottom: 0.5em;
			font-weight: bold;
		}
		img {
			margin-bottom: 0.5em;
		}
		p {
			font-size: $font-size-s;
		}

	}
	.item {
		float: left;
		width: 50%;
		padding-right: 1em;
		img {
			max-width: 100%;
		}


	}
}
footer {
	background-color: $bg-color-grey;
	.wpb_column {
		&:nth-child(1){
			h2 {
				margin-top: 0;
			}
		}
	}
	h2 {
		font-size: 1.7em;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	ul {
		// font-size: $font-size-s;
		li {
			a {
				// font-family: $header-font-family;
				// font-family: $font-family;
			}
			margin-bottom: 1em;
			// font-family: $header-font-family;
			// font-weight: bold;
			// padding: 0.1em 0;
			.post-date {
				display: block;
				font-size: 0.8em;
				// margin-left: 1em;
				// &:before {
				// 	content: "-";
				// 	position: absolute;
				// 	margin-left: -0.7em;
				// }
			}
		}
	}
	#mc_embed_signup {
		font-size: $font-size-s;
		input {
			// font-size: $base-font-size;
			margin-bottom: 0.5em;
			padding: 0.5em;
			width: 100%;
			max-width: 200px;
			&.button {
				width: auto;
			}
		}
	}
	@include gridle_container();
	article {
		@include gridle ( 4 );
	}
	.copyright {
		@include gridle ( 12 );
		margin-top: 100px;
	}
}
